<?xml version="1.0"?>
<configuration>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <connectionStrings>
    <add name="conexionSQLServer" connectionString="Data source=10.1.0.48\SQL;Database=Licencias;User ID=proyectos;Password=pr4y2ct4s2020" providerName="System.Data.SqlClient" />
    <!--<add name="conexionSQLServer" connectionString="Data source=10.1.0.12\SQL2008;Database=Licencias;User ID=teppic;Password=t1pp2c12345" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
  <system.web>
    
    <!-- Página de Error -->
    <customErrors mode="On" defaultRedirect="Paginas/Error.aspx"></customErrors>
    
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
      <!-- Captcha -->
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>
    
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  
  </system.web>
  
  <system.webServer>

    <!-- Pagina por defecto --> 
    <defaultDocument>
      <files>
        <add value="Paginas/Inicio.aspx" />
      </files>
    </defaultDocument>
    
    <validation validateIntegratedModeConfiguration="false" />
    <handlers accessPolicy="Read, Write, Script, Execute">
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!-- Captcha -->
      <add name="ews" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
  </system.webServer>

  <!-- Configuracion Email -->
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" proxyaddress="smtp.gmail.com" bypassonlocal="False"/>
    </defaultProxy>
    <mailSettings>
      <smtp from="helppeople@cornare.gov.co">
        <network host="smtp.gmail.com" password="h2lpp24pl212345" port="587"
          userName="helppeople@cornare.gov.co" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>